.about-us{
  width: 100%;
  height: 100vh;
  display: flex;
  &_img_container, &_description_container{
    width: 50%;
    height: 100%;
  }
  &_img_container{
    background-color: $color-gray;
  }
  &_description_container{
    padding: 40px;
    background-color: $color-white;
  }
  &_title{
    color: $color-black;
    font-family: $font-corsiva;
  }
  &_description{
    padding-top: 20px;
    color: $color-gray-dark;
    line-height: 30px;
  }
}
